<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="McK.EIG.ROI.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings >

    <!-- Resources used in ROI-->
    <add key="roi.messages.resource" value=".Resources.Cultures.roi.messages"/>
    <add key="roi.uitext.resource"   value=".Resources.Cultures.roi.uitext"/>
    <add key="roi.tooltip.resource"  value=".Resources.Cultures.roi.tooltip"/>

    <add key="LogConfigFileName"  value="McK.EIG.ROI.Client.Test.Log.xml"/>
    <!-- <add key="AlertServer"        value="127.0.0.1"/>
    <add key="AlertPort"          value="61616"/> -->
    <add key="AlertQueueName"     value="queue/eigAlert"/>
    <add key="AlertPhysicalName"  value="queue.eigAlert"/>
    
    <add key="UserID"             value="testuser"/>
    <add key="DomainPassword"     value="Aaaaaaa1"/>
    <add key="Password"           value="f123"/>
    <add key="NewPassword"        value="f1234"/>
    <add key="Domain"             value="ISGLAB"/>
    <add key ="HpfUserId"         value="admin"/>
    <add key ="HpfPassword"       value="1234"/>

    <!--File Transfer Servlet Url -->
    <add key="FileUploadServletUrl" value="/roi/filetransfer/ROIFileUploadServlet"/>
    <add key="FileDownloadServletUrl" value="/roi/filedownload/BaseFileDownloader"/>

    <!-- This key is used in McK.EIG.Common.FileTransfer.dll not in ROI-->
    <add key="CultureResourcePath" value=".CultureResources.CultureResource"/>

    <add key="ChunkEnabled" value="false"/>
    <add key="BlockSize" value="10485760"/>

    <add key="FileOwnerType" value="LetterTemplate"/>

    <!--Find Patient search result threshold-->
    <add key="MaximumSearchResult" value="500"/>

    <!--Auto Paging-->
    <add key="PageSize" value="50"/>
    <add key="Frequency" value="10"/>

    <!-- Reports -->
    <add key="CacheFolder" value="Reports\"/>
    <add key="ReportServletURL" value="/roi/reports"/>
    <add key="ReportDsn" value="ROIReports"/>

    <!--In Use - Specify the interval in minutes for expiry period -->
    <add key="IntervalToExpire" value="100"/>
    <add key="AppId" value="roi"/>

    <!-- Content service URL -->
    <add key="ContentServiceUrl" value=""/>

    <!--Indicates the time an XML Web service client waits for a synchronous XML
        Web service request to complete (in milliseconds). The default is 100000 milliseconds.-->
    <add key="TimeOut" value="100000"/>

  </appSettings>
  <applicationSettings>
    <McK.EIG.ROI.Client.Properties.Settings>
      <setting name="McK_EIG_ROI_Client_Web_References_HPFPatientWS_PatientService" serializeAs="String">
        <value>/portal/eig/iservices/patient</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_MedicalRecordWS_MedicalRecordService" serializeAs="String">
        <value>/portal/eig/iservices/medicalRecord</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_DeficiencyWS_DeficiencyService" serializeAs="String">
        <value>/portal/eig/iservices/deficiency</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_SigninWS_SigninService" serializeAs="String">
        <value>/portal/eig/iservices/signin</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ConfigurationWS_ConfigurationService" serializeAs="String">
        <value>/portal/eig/iservices/configuration</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_PasswordWS_PasswordService" serializeAs="String">
        <value>/portal/eig/iservices/password</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_LogoutWS_LogoutService" serializeAs="String">
        <value>/portal/eig/iservices/logout</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_DocumentWS_DocumentInfoService" serializeAs="String">
        <value>/portal/eig/iservices/document</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_AuthenticationWS_AuthenticationService" serializeAs="String">
        <value>/portal/eig/iservices/authenticationService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_SecurityLogoffWS_SecurityLogoffService" serializeAs="String">
        <value>/roi/services/securitylogoff</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIAdminWS_ROIAdminService" serializeAs="String">
        <value>/roi/services/ROIAdminService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_BillingAdminWS_BillingAdminService" serializeAs="String">
        <value>/roi/services/BillingAdminService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestorWS_RequestorService" serializeAs="String">
        <value>/roi/services/RequestorService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestWS_RequestService" serializeAs="String">
        <value>/roi/services/RequestService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestCoreWS_RequestCoreService" serializeAs="String">
        <value>/roi/services/RequestCoreService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_BillingWS_BillingService" serializeAs="String">
        <value>/roi/services/BillingService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_BillingCoreWS_BillingCoreService" serializeAs="String">
        <value>/roi/services/BillingCoreService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_InUseWS_InUseService" serializeAs="String">
        <value>/inuse/services/InUseService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROISupplementalWS_ROISupplementalService" serializeAs="String">
        <value>/roi/services/ROISupplementalService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROISupplementaryWS_SupplementaryService" serializeAs="String">
        <value>/roi/services/SupplementaryService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_AuditWS_AuditService_v1_0" serializeAs="String">
        <value>/audit/services/audit</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_CcdConversionServiceWS_CcdConversionService" serializeAs="String">
        <value>/roi/services/CcdConversionService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_OverDueInvoiceWS_OverdueInvoiceService" serializeAs="String">
        <value>/roi/services/OverdueInvoiceService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_OverDueInvoiceCoreWS_OverdueInvoiceCoreService" serializeAs="String">
        <value>/roi/services/OverdueInvoiceCoreService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_OutputServiceWS_OutputService" serializeAs="String">
        <value>/output/services/OutputService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_DestinationServiceWS_DestinationService" serializeAs="String">
        <value>/output/services/destinationService</value>
      </setting>
    </McK.EIG.ROI.Client.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
