<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                        http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:ocroi.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="roiProperties"
		class="org.apache.commons.configuration.PropertiesConfiguration">
		<constructor-arg type="java.net.URL" value="classpath:ocroi.properties" />
		<property name="reloadingStrategy">
			<bean class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" />
		</property>
	</bean>

	<bean id="com.mckesson.eig.roi.common.config.BootstrapConfiguration"
		class="com.mckesson.eig.roi.common.config.BootstrapConfiguration"
		factory-method="getInstance">
		<property name="propertiesConfiguration" ref="roiProperties" />
	</bean>

    
	<!-- Common  Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref ="dataSource" />
		
		<property name="configLocation"
			value="classpath:com/mckesson/eig/roi/hibernate.xml" />
	</bean>
	
	
	<!-- DAO-hibernate configuration starts here-->
	<!-- bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<description>
			Provides access to a datasource registered with JNDI.
		</description>
		<property name="jndiName">
			<value>java:/ROI_DS</value>
		</property>
        <property name="cache" value="false"/>
        <property name="proxyInterface" value="javax.sql.DataSource"/>
	</bean-->
	
	 <!-- Database Configuration -->
    <!-- <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
    
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="username" value="${db.user}" />
        <property name="password" value="${db.password}" />
        <property name="idleConnectionTestPeriodInMinutes" value="240" />
        <property name="idleMaxAgeInMinutes" value="60" />
        <property name="maxConnectionsPerPartition" value="30" />
        <property name="minConnectionsPerPartition" value="10" />
        <property name="partitionCount" value="3" />
        <property name="acquireIncrement" value="5" />
        <property name="statementsCacheSize" value="100" />
        <property name="releaseHelperThreads" value="3" />
        <property name="disableConnectionTracking" value="true" />
	</bean> -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
	    <constructor-arg ref="hikariConfig" />
	</bean>
	
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="springHikariCP" />
		<property name="connectionTestQuery" value="SELECT 1" />
		<property name="driverClassName">
			<value>${jdbc.driver}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${db.user}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>
		<property name="minimumIdle" value="30" />
		<property name="maximumPoolSize" value="90" />
		<!-- <property name="maxConnectionsPerPartition" value="30" />
        <property name="minConnectionsPerPartition" value="10" /> -->


		<!-- <property name="dataSourceProperties"> <props> <prop key="jdbcUrl">${startup.jdbc.url}</prop> 
			<prop key="username">${startup.jdbc.username}</prop> <prop key="password">${startup.jdbc.password}</prop> 
			</props> </property> -->
	</bean>
	
	<!-- Audit Configuration starts -->
	<bean id="defaultDataSourceMPF" parent="dataSource"/>
	
	<bean id="daoRegistry" class="com.mckesson.eig.iws.orm.SimpleDaoRegistry" >
		<property name="registry">
			<map>
				<entry key="AuditTrailHibernateDao">
					<ref bean="AuditTrailHibernateDao"/>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="AuditTrailHibernateDao" class="com.mckesson.eig.audit.dao.hpf.AuditTrailHibernateDao">
		<property name="sessionFactory" ref ="sessionFactory"/>
	</bean>

	<!-- Audit Configuration Ends -->
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	

	<!--  Common transactionContext . Please do not remove  -->

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
		    <tx:method name="retrieve*" read-only="true"/>
            <tx:method name="search*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.mckesson.eig.roi.admin.service.BillingAdminServiceImpl.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.mckesson.eig.roi.admin.service.ROIAdminServiceImpl.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.mckesson.eig.roi.requestor.service.RequestorServiceImpl.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.mckesson.eig.roi.hpf.service.HPFSecurityAuthenticationService.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<aop:config proxy-target-class="true">
        <aop:advisor
            pointcut="execution(* com.mckesson.eig.roi.reports.service.ROIReportServiceImpl.*(..))"
            advice-ref="txAdvice" />
    </aop:config>

    <aop:config proxy-target-class="true">
        <aop:advisor
            pointcut="execution(* com.mckesson.eig.roi.admin.service.ROIAttachmentServiceImpl.*(..))"
            advice-ref="txAdvice" />
    </aop:config>

 	 <aop:config proxy-target-class="true">
        <aop:advisor
            pointcut="execution(* com.mckesson.eig.roi.request.service.RequestCoreServiceImpl.*(..))"
            advice-ref="txAdvice" />
    </aop:config>
 
 	<aop:config proxy-target-class="true">
        <aop:advisor
            pointcut="execution(* com.mckesson.eig.roi.billing.service.OverDueInvoiceCoreServiceImpl.*(..))"
            advice-ref="txAdvice" />
    </aop:config>

    <aop:config proxy-target-class="true">
        <aop:advisor
            pointcut="execution(* com.mckesson.eig.roi.supplementary.service.ROISupplementaryServiceImpl.*(..))"
            advice-ref="txAdvice" />
    </aop:config>
    
    <aop:config proxy-target-class="true">
        <aop:advisor
            pointcut="execution(* com.mckesson.eig.roi.billing.service.BillingCoreServiceImpl.*(..))"
            advice-ref="txAdvice" />
    </aop:config>
    
    <aop:config proxy-target-class="true">
        <aop:advisor pointcut="execution(* com.mckesson.eig.roi.inuse.service.InUseServiceImpl.*(..))" 
        advice-ref="txAdvice" />
    </aop:config>
    
	<import resource="dao.spring.xml" />
	<import resource="service.spring.xml" />

	<!-- Logging services-->
	<!-- <bean id="log_initializer"
		class="com.mckesson.eig.utility.log.log4j.Log4JInitializer">
		<property name="byProperties">
			<value>ocroi.properties</value>
		</property>
	</bean> -->

	<!-- <bean id="globalIDInitializer" class="com.mckesson.eig.utility.log.log4j.GlobalIDInitializer" init-method="initAppGlobalID">
		<property name="dataSource" ref="dataSource"/>
		<property name="globalName" value="ROI Server"/>
		<property name="serverPort" value="18080" />
	</bean> -->

	<bean id="castor_context"
		class="com.mckesson.eig.wsfw.axis.CastorContext" lazy-init="true">
		<property name="mappingFile"
			value="com/mckesson/eig/roi/castor.xml" />
	</bean>

	<bean id="audit_castor_context"
		class="com.mckesson.eig.wsfw.axis.CastorContext" lazy-init="true">
		<property name="mappingFile"
			value="com/mckesson/eig/audit/webservices/webservice-mappings.xml" />
	</bean>
<!--
	<bean id="eig_auditq_config"
		class="com.mckesson.eig.utility.jms.JmsConfig">
		<property name="url" value="tcp://127.0.0.1:61616" />
		<property name="jmsQueueName" value="queue/eigAudit" />
		<property name="physicalName" value="queue.eigAudit" />
		<property name="connectionFactory"
			value="QueueConnectionFactory" />
	</bean>  -->

 <!-- bean id="eig_auditq_config"
          class="com.mckesson.eig.wsfw.jms.MessagePoster">

      <property name="queue">
        <ref bean="auditQueue"/>
      </property>

      <property name="connectionFactory">
        <ref bean="connectionFactory"/>
      </property>

    </bean>

    <bean id="connectionFactory"
    class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiTemplate">
      <ref bean="jndiTemplate" />
    </property>
    <property name="jndiName">
      <value>QueueConnectionFactory</value>
    </property>

  </bean>

  <bean id="auditQueue"
    class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiTemplate">
      <ref bean="jndiTemplate" />
    </property>
    <property name="jndiName">
      <value>queue/eigAudit</value>
    </property>
  </bean>

  <bean id="jndiTemplate"
    class="org.springframework.jndi.JndiTemplate">
    <property name="environment">
      <props>
        <prop key="java.naming.factory.initial">
          org.apache.activemq.jndi.ActiveMQInitialContextFactory
        </prop>
        <prop key="java.naming.provider.url">
          tcp://127.0.0.1:61616?wireFormat.maxInactivityDuration=0
        </prop>
        <prop key="queue.queue/eigAudit">
          queue.eigAudit
        </prop>
      </props>
    </property>
  </bean-->

	<bean id="BeanFactory"
		class="org.springframework.beans.factory.support.DefaultListableBeanFactory">
	</bean>

	<bean id="PasswordEncryptionStrategy"
		class="com.mckesson.eig.wsfw.security.encryption.PassthroughStrategy">
	</bean>

	<!--  Audit service -->
	<bean id="com.mckesson.eig.audit.local.AuditLocalService"
		class="com.mckesson.eig.audit.local.AuditLocalService"
		lazy-init="true" />
		
	<bean id="com.mckesson.eig.audit.dao.AuditDaoService"
		class="com.mckesson.eig.audit.dao.AuditDaoService"
		lazy-init="true" />

	<bean id="AuditManager"
		class="com.mckesson.eig.roi.base.service.ROIAuditManager"
		lazy-init="true" />

	<!-- Business Services -->
	<bean
		id="com.mckesson.eig.roi.hpf.service.HPFSecurityAuthenticationService"
		class="com.mckesson.eig.roi.hpf.service.HPFSecurityAuthenticationService"
		scope="singleton" lazy-init="true" />

	<bean id="AuthenticationStrategy"
		class="com.mckesson.eig.roi.hpf.service.HPFAuthenticationStrategy"
		lazy-init="true">
		<property name="authenticationUrl">
            <value>${mpfw.core.server.protocol}://${mpfw.core.server.hostname}:${mpfw.core.server.port}/portal/eig/iservices/configuration</value>
        </property>
    </bean>

	<bean id="AuthorizationStrategy"
		class="com.mckesson.eig.roi.hpf.service.HPFAuthorizationStrategy"
		lazy-init="true" />

	<bean id="WebServiceAuthorizationTable"
		class="com.mckesson.eig.roi.hpf.service.WebServiceAuthorizationTable"
		lazy-init="true">
		<property name="mappingFile"
			value="com/mckesson/eig/roi/webservice-authorization.properties" />
	</bean>

     <bean id="HPFAuthenticationServiceLoader"
           class="com.mckesson.eig.roi.hpf.service.HPFAuthenticationServiceLoader"
           lazy-init="false">
           <constructor-arg value="${mpfw.core.server.protocol}://${mpfw.core.server.hostname}:${mpfw.core.server.port}/portal/eig/iservices/signin"/>
     </bean>

	<bean id="authenticator.roi"
          class="com.mckesson.eig.roi.hpf.service.ROIAuthenticator">
    </bean>
    
	<bean id="ccd.xslt.file" class="java.lang.String">
		<constructor-arg index="0" value="com/mckesson/eig/roi/ccd/xslt/ccd_fo.xsl" />
	</bean>	
	<bean id="ccr.xslt.file" class="java.lang.String">
		<constructor-arg index="0" value="com/mckesson/eig/roi/ccd/xslt/ccr_fo.xsl" />
	</bean>

	<bean id="paragon.ccd.xslt.file" class="java.lang.String">
		<constructor-arg index="0" value="com/mckesson/eig/roi/ccd/xslt/ccd_paragon_fo.xsl" />
	</bean>

	<bean id="ccdProviderFactory" class="com.mckesson.eig.roi.ccd.provider.CcdProviderFactory">
	</bean>
	
	
	<bean id="ccdProviderFactoryTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="startCcdProviderFactory" />
		<property name="startDelay" value="30000"/>
    	<property name="repeatInterval" value="600000" />
	</bean>

	<bean id="startCcdProviderFactory" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="ccdProviderFactory" />
		<property name="targetMethod" value="retry" />
	</bean>

	    <!-- A list of Triggers to be scheduled and executed by Quartz -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="ccdProviderFactoryTrigger"/>
             </list>
        </property>
    </bean>
    
	<bean id="CELStopMessageLogger" 
	   class="com.mckesson.eig.roi.utils.CELStopMessageLogger"/>

	<bean id="CELStartMessageLogger" 
	   class="com.mckesson.eig.roi.utils.CELStartMessageLogger"
	   init-method="init"/>

    <bean id="shutdownHookList" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="CELStopMessageLogger"/>
			</list>
		</constructor-arg>
    </bean>

    <bean class="com.mckesson.eig.roi.base.model.ShutdownBean">
		<constructor-arg index="0" ref="shutdownHookList" />
    </bean>
	
	 <!--  Rest webservice related stuff Starts -->
    
    <!-- <util:list id="webClientProviders">
        <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
    </util:list> -->
    
    <util:list id="webClientProviders">
        <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
    </util:list>
    
    <bean id="WebClientPool" class="com.mckesson.eig.roi.webservice.util.rest.RestWebClientPool">
        <property name="providers" ref="webClientProviders" />
    </bean>
    
    <!--  Rest webservice related stuff Ends -->
    
    <bean id="OneContentAuthenticationStrategy"
		class="com.mckesson.eig.roi.onecontent.service.OneContentAuthenticationStrategy"
		lazy-init="true">
		<property name="providers" ref="webClientProviders" />
    </bean>
    
    <bean name="InUseScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="autoStartup" value="false" />
		<property name="quartzProperties" value="com/mckesson/eig/roi/quartz.properties" />
	</bean>
    
</beans>
