<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" >

    <!-- Logging services-->
    <bean id="log_initializer" class="com.mckesson.eig.utility.log.log4j.Log4JInitializer">
        <property name="byXml">
            <value>com/mckesson/eig/inuse/logging.xml</value>
        </property>
    </bean>

    <!-- Castor context-->
    <bean id="castor_context" class="com.mckesson.eig.wsfw.axis.CastorContext" lazy-init="true">
        <property name="mappingFile" value="com/mckesson/eig/inuse/castor.xml"/>
    </bean>

    <!-- DAO-hibernate configuration starts here-->
    <!--  Common transactionContext . Please do not remove  -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <!-- Modified to use quickstream database configuration -->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
       <description>Provides access to a datasource registered with JNDI.</description>
       <property name="jndiName">
           <value>java:/ROI_DS</value>
       </property>
    <!--Turned Off to Allow hot redeployment of JNDI Objects  -->
        <property name="cache" value="false"/>
     <!--  For hot redeployment  -->
        <property name="proxyInterface" value="javax.sql.DataSource"/>
    </bean>

    <!-- Common  Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource"><ref local="dataSource"/></property>
        <property name="configLocation" value="classpath:com/mckesson/eig/inuse/hibernate.xml"/>
    </bean>

    <aop:config proxy-target-class="true">
        <aop:advisor pointcut="execution(* com.mckesson.eig.inuse.service.InUseServiceImpl.* (..))" advice-ref="txAdvice"/>
    </aop:config>

    <bean id="BeanFactory"
            class = "org.springframework.beans.factory.support.DefaultListableBeanFactory">
    </bean>

    <bean id="PasswordEncryptionStrategy"
        class="com.mckesson.eig.wsfw.security.encryption.PassthroughStrategy">
    </bean>

    <!-- Business Services -->

	<bean id="AuthenticationStrategy"
		class="com.mckesson.eig.inuse.hpf.service.HPFAuthenticationStrategy"
		lazy-init="true">
		<property name="authenticationUrl">
            <value>http://127.0.0.1:8081/portal/eig/iservices/configuration?wsdl</value>
        </property>
    </bean>

    <bean id="com.mckesson.eig.inuse.hpf.dao.UserSecurityHibernateDao"
        class="com.mckesson.eig.inuse.hpf.dao.UserSecurityHibernateDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="com.mckesson.eig.inuse.service.InUseService"
        class="com.mckesson.eig.inuse.service.InUseServiceImpl"
        lazy-init="false"
        init-method="initService" >
        <property name="scheduler" ref="InUseScheduler" />
        <property name="inUseDAO" ref="InUseDAO" />
    </bean>

	<bean id="InUseDAO" class="com.mckesson.eig.inuse.dao.InUseDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="InUseScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="autoStartup" value="false" />
		<property name="quartzProperties" value="com/mckesson/eig/inuse/quartz.properties" />
	</bean>
	
</beans>
