
/****** Object:  StoredProcedure [dbo].[EPRS_GetDocPagesFromImnet]    Script Date: 08/31/2009 17:19:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EPRS_GetDocPagesFromImnet]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EPRS_GetDocPagesFromImnet]
GO

--EPRS_GetDocPagesFromImnet
/***************************************************************************************************************
* Stored Procedure:	EPRS_GetDocPagesFromImnet
* Creation Date:	08/31/2009 2:08:07 PM
* Copyright		: COPYRIGHT MCKESSON 2007
*			: ALL RIGHTS RESERVED
*
* 			: The copyright to the computer program(s) herein
* 			: is the property of McKesson. The program(s)
* 			: may be used and/or copied only with the written
* 			: permission of McKesson or in accordance with
* 			: the terms and conditions stipulated in the     
* 			: agreement/contract under which the program(s)
* 			: have been supplied.
*					
* Written by: RC
*									
* Purpose:	This stored procedure is used to return a comma seperated
*		list of imnet(s) for the doucment to which the supplied 
*		imnet belongs
*		  			
* Database:	CABINET
*
*									
* Input Parameters: 
*	Name		Type		Description
* 	--------	-------		----------------
*	@Imnet 		char(22	)	Imnet ID 
*									
* Output Parameters: 
*	Name			Type		Description
* 	--------		-------		----------------
*	@Result			CSV			list of imnets in page order
*
*	@Status1		char(50)	text result 1 imnet value if error or empty if no error
*	@Status2		char(50)	text result 2 'Was not found in Cab_Del_Items' if error or empty if no error
*									
* Usage: 
*		DECLARE @RC int
*		DECLARE @Imnet char(22)
*		DECLARE @Result varchar(max)
*		DECLARE @Status1 char(50)
*		DECLARE @Status1 char(50)
*		SET @Imnet = 'IMAGES1   01585200001'
*		EXECUTE @RC = [cabinet].[dbo].[EPRS_GetDocPagesfromImnet] 
*		   @Imnet
*		  ,@Result OUTPUT
*		  ,@Status1 OUTPUT
*		  ,@Status2 OUTPUT
*																	
* Called By: ROI 13.5 
*									
* Calls: Nothing
*									
* Data Modifications: none
*									
* Updates: 
*	Name		Date		Purpose
*	---------		-------		------------- 						
***************************************************************************************************************/
Create PROCEDURE [dbo].[EPRS_GetDocPagesFromImnet]
@Imnet char(22),
@Result varchar(max) OUTPUT,
@Status1 char(50) OUTPUT,
@Status2 char(50) OUTPUT

AS
	
	
Set nocount on
Set @Result = '' 
Set @Status1 = ''
Set @Status2 = ''

--Generate an error if the Imnet is not valid in the pages table
IF  EXISTS (SELECT 1 from [Cabinet].[dbo].[Pages] WHERE Imnet = @Imnet and deleted = 'N')
BEGIN
	SELECT @Result = @Result + RTRIM(IMNET) + ','
	FROM 
		[Cabinet].[dbo].[pages], [Cabinet].[dbo].[versions]
	WHERE 
		[Cabinet].[dbo].[versions].version_id = [Cabinet].[dbo].[pages].version_id 
		AND deleted = 'N'
		AND Doc_ID = 
		(
			SELECT 
				doc_id
			FROM 
				[Cabinet].[dbo].[pages], [Cabinet].[dbo].[versions]
			WHERE 
				[Cabinet].[dbo].[versions].version_id = [Cabinet].[dbo].[pages].version_id 
				and Imnet = @Imnet  
		)
	ORDER BY page
SET @Result = Substring(@Result, 1, LEN(@Result) - 2)
RETURN
END
ELSE
BEGIN
	SELECT @Result = -10
	SELECT @Status1 = 'Imnet = ' + @Imnet
	SELECT @Status2 = 'Was not found in Cab_Del_Items'
	RETURN

END

GO
GRANT EXECUTE ON [dbo].[EPRS_GetDocPagesFromImnet] TO [IMNET]

