/*<meta />*/

/* Version 1.0.0  */

/* All Rights Reserved. */

@import url('Allscripts_styles.css');



b
{
	mc-disabled: false;
}

i
{
	mc-disabled: false;
}

sub
{
	mc-disabled: false;
}

sup
{
	mc-disabled: false;
}

u
{
	mc-disabled: false;
}

strike
{
	mc-disabled: false;
}


