@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/
/* Copyright © 2017 Allscripts Healthcare, LLC and/or its affiliates. */
/* All Rights Reserved. */



b
{
	mc-disabled: true;
}

i
{
	mc-disabled: true;
}

sub
{
	mc-disabled: true;
}

sup
{
	mc-disabled: true;
}

u
{
	mc-disabled: true;
}

strike
{
	mc-disabled: true;
}



span.boolean
{
	mc-disabled: true;
}

span.state
{
	mc-disabled: true;
}

div.MCDropDown
{
	mc-disabled: true;
}

div.MCDropDownBody
{
	mc-disabled: true;
}

div.MCDropDownHead_0
{
	mc-disabled: true;
}

div.MCBreadcrumbsBox_0
{
	mc-disabled: true;
}

div.DocInfo
{
	mc-disabled: true;
}

div.ProdName
{
	mc-disabled: true;
}

div.ProdFamily
{
	mc-disabled: true;
}

div.TitleContent
{
	mc-disabled: true;
}

div.ProdFamily_QS
{
	mc-disabled: true;
}

div.ProdName_QS
{
	mc-disabled: true;
}

div.TitleContent_QS
{
	mc-disabled: true;
}

div.DocInfo_QS
{
	mc-disabled: true;
}

abbr
{
	mc-disabled: true;
}

acronym
{
	mc-disabled: true;
}

address
{
	mc-disabled: true;
}


big
{
	mc-disabled: true;
}

button
{
	mc-disabled: true;
}

caption
{
	mc-disabled: true;
}

cite
{
	mc-disabled: true;
}

code
{
	mc-disabled: true;
}

del
{
	mc-disabled: true;
}

em
{
	mc-disabled: true;
}

fieldset
{
	mc-disabled: true;
}

input
{
	mc-disabled: true;
}

ins
{
	mc-disabled: true;
}

kbd
{
	mc-disabled: true;
}

menu
{
	mc-disabled: true;
}

pre
{
	mc-disabled: true;
}

samp
{
	mc-disabled: true;
}

small
{
	mc-disabled: true;
}


strong
{
	mc-disabled: true;
}


tt
{
	mc-disabled: true;
}


var
{
	mc-disabled: true;
}

p.ZCover_Logo_QS
{
	mc-disabled: true;
}

p.ZCover_ProdFamily_Line1_QS
{
	mc-disabled: true;
}

p.ZCover_ProdFamily_QS
{
	mc-disabled: true;
}

p.ZCover_ProdName_QS
{
	mc-disabled: true;
}

p.ZCover_ModuleName_QS
{
	mc-disabled: true;
}

p.ZCover_DocType_QS
{
	mc-disabled: true;
}

p.ZCover_ReleaseNumber_QS
{
	mc-disabled: true;
}

p.ZCover_PubDate_QS
{
	mc-disabled: true;
}

p.ZCover_DocID_QS
{
	mc-disabled: true;
}

p.ZCover_Subhead_QS
{
	mc-disabled: true;
}

p.ZCover_Normal_QS
{
	mc-disabled: true;
}

li.ZCover_QS
{
	mc-disabled: true;
}



p.TableHeaderWide
{
	mc-disabled: true;
}

p.TH-TableHeaderText
{
	font-weight: bold;
	mc-disabled: true;
}

p.LOF
{
	mc-disabled: true;
}


p.HeaderFooterTable
{
	mc-disabled: true;
}

h1.IndexTitle
{
	mc-disabled: true;
}


p.HelpFooter
{
	mc-disabled: true;
}


MadCap|helpControlMenuItem
{
	mc-disabled: true;
}

MadCap|xref.ConceptPageNumber
{
	mc-disabled: true;
}


MadCap|xref.ListOfPageNumber
{
	mc-disabled: true;
}

MadCap|xref.TOCPageNumber
{
	mc-disabled: true;
}

MadCap|xref.Figure
{
	mc-disabled: true;
}

MadCap|xref.FigureOnPage
{
	mc-disabled: true;
}


html.topic
{
	mc-disabled: true;
}

html.concept
{
	mc-disabled: true;
}

html.task
{
	mc-disabled: true;
}

html.reference
{
	mc-disabled: true;
}


p.BulletText-1
{
	mc-disabled: true;
}

p.BulletText-2
{
	mc-disabled: true;
}

p.DashText-1
{
	mc-disabled: true;
}

p.DashText-2
{
	mc-disabled: true;
}


p.BlockText-Indent
{
	mc-disabled: true;
}

p.BlockText-Indent-2
{
	mc-disabled: true;
}

p.BlockText-Indent-3
{
	mc-disabled: true;
}

p.Code-Indent
{
	mc-disabled: true;
}

p.Message-Indent
{
	mc-disabled: true;
}

p.CaptionIndent
{
	mc-disabled: true;
}

p.TableBullet
{
	mc-disabled: true;
}

p.TableDash
{
	mc-disabled: true;
}

p.TableStep-1
{
	mc-disabled: true;
}

p.TableStep-2
{
	mc-disabled: true;
}

p.TableText-Indent
{
	mc-disabled: true;
}

p.TableText-Indent-2
{
	mc-disabled: true;
}

p.TableCaution-Indent
{
	mc-disabled: true;
}

p.TableNote-Indent
{
	mc-disabled: true;
}

span.UnsupportedStyle
{
	mc-disabled: true;
}

p.UnsupportedStyle
{
	mc-disabled: true;
}
