<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!--  Common transactionContext . Please do not remove  -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
       <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

	<!-- Modified to use quickstream database configuration -->	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	        <description>Provides access to a datasource registered with JNDI.</description>
	        <property name="jndiName">
	            <value>java:/QspDS</value>
	        </property>
	</bean>
	
		
	<!-- ****************************************************************************  -->

	    <!-- Common  Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource"><ref local="dataSource"/></property>

		<!-- Must references all OR mapping files. -->
		<property name="mappingResources">
			<list>
		    	<!--  Report Management  --> 
		    	  		
			<value>/com/mckesson/eig/audit/hibernate/AuditTrail.hbm.xml</value>
			<value>/com/mckesson/eig/audit/hibernate/AuditTrailDetail.hbm.xml</value>						

		    </list>
		</property>
		<property name="hibernateProperties">
			<props>
			<!-- SQL Server Dialect - Uncomment the next line to use SQL Server -->
			<!-- <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>-->
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<prop key="hibernate.connection.pool_size">10</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</prop>
			</props>
		</property>
	</bean>

	<bean id="daoRegistry" class="com.mckesson.eig.iws.orm.SimpleDaoRegistry" >
		<property name="registry">
			<map>	
			<entry key="AuditTrailDao">
					<ref bean="AuditTrailDao"/>
			</entry>
			<entry key="AuditTrailDetailDao">
				<ref bean="AuditTrailDetailDao"/>
			</entry>				
			</map>
		</property>
	</bean>

	<!--  All DAO go here -->
	<bean id="AuditTrailDao" class="com.mckesson.eig.audit.dao.hibernate.AuditTrailHibernateDao">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>	
	
	<bean id="AuditTrailDetailDao" class="com.mckesson.eig.audit.dao.hibernate.AuditTrailDetailHibernateDao">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>
			
		
	<!--  All service classes  -->
			
	<bean id="BeanFactory"		
			class = "org.springframework.beans.factory.support.DefaultListableBeanFactory">
	</bean>

</beans>