<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ResourceValidator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
      <add key="roi.messages.en.resource" value="../../../McK.EIG.ROI.Client/Resources/Cultures/roi.messages.en-US.resx"/>
      <add key="roi.messages.fr.resource" value="../../../McK.EIG.ROI.Client/Resources/Cultures/roi.messages.fr-FR.resx"/>
      <add key="server.error.codes" value="../../../../server/src/com/mckesson/eig/roi/base/api/ROIClientErrorCodes.java"/>

      <add key="roi.en.resource" value="../../../McK.EIG.ROI.Client/Resources/Cultures/roi.tooltip.en-US.resx"/>
      <add key="roi.fr.resource" value="../../../McK.EIG.ROI.Client/Resources/Cultures/roi.tooltip.fr-FR.resx"/>
      <add key="force.remove" value="true"/>
    
      <!--English - en, French - fr -->    
      <add key="current.culture" value="en"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
