<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    
    <!-- Logging services-->
    <bean id="log_initializer"
		class="com.mckesson.eig.utility.log.log4j.Log4JInitializer">
		<property name="byXml">
			<value>com/mckesson/eig/alert/logging.xml</value>
		</property>
	</bean>
    
    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:ocroi.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="PasswordEncryptionStrategy"
		class="com.mckesson.eig.wsfw.security.encryption.PassthroughStrategy">
	</bean>

    <bean id="com.mckesson.eig.alert.service.AlertHandler"
        class="com.mckesson.eig.alert.service.AlertHandler" />
        
    <bean id="AuthenticationStrategy"
		class="com.mckesson.eig.alert.mpf.security.service.MPFAuthenticationStrategy"
		lazy-init="true">
		<property name="authenticationUrl">
            <value>${mpfw.core.server.protocol}://${mpfw.core.server.hostname}:${mpfw.core.server.port}/portal/eig/iservices/configuration?wsdl</value>
        </property>
    </bean>
   
</beans>
