<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider</property>
        <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.show_sql">false</property>
        
		<property name="bonecp.idleMaxAgeInMinutes">4</property>
		<property name="bonecp.idleConnectionTestPeriodInMinutes">1</property>
		<property name="bonecp.partitionCount">4</property>
		<property name="bonecp.acquireIncrement">10</property>
		<property name="bonecp.maxConnectionsPerPartition">25</property>
		<property name="bonecp.minConnectionsPerPartition">5</property>
		<property name="bonecp.statementsCacheSize">50</property>
		<property name="bonecp.releaseHelperThreads">3</property>

		<mapping resource="hbm/conversion.hbm.xml"/>
        <mapping resource="hbm/freeFormFacilities.hbm.xml"/>
        <mapping resource="hbm/supplemental.hbm.xml"/>
        <mapping resource="hbm/requestMain.hbm.xml"/>
        <mapping resource="hbm/requestorLetter.hbm.xml"/>
        <mapping resource="hbm/billinglocation.hbm.xml"/>
        <mapping resource="hbm/preconversion.hbm.xml"/>
    </session-factory>
</hibernate-configuration>