a:active { 
  color:#004DEA;  }
a:link { 
  color:#004DEA;  }
a:visited { 
  color:#004DEA;  }
a:hover { 
  color:#004DEA;  }
a.BSSCPopup:active { 
  color:#004DEA; 
  text-decoration:none;  }
a.BSSCPopup:link { 
  color:#004DEA; 
  text-decoration:none;  }
a.BSSCPopup:visited { 
  color:#004DEA; 
  text-decoration:none;  }
a.BSSCPopup:hover { 
  color:#004DEA; 
  text-decoration:none;  }
a.dropspot { 
  color:#000000;  }
a.dropspot:active { 
  color:#000000;  }
a.dropspot:hover { 
  color:#000000;  }
a.dropspot:visited { 
  color:#000000;  }
/* Formats the "Show" link in single-pane windows. */
a.whtbtnshow {
	font-size: 8pt;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: -0.25em;  }
span.CautionLabel { 
  color:#000000; 
  font-weight:bold; 
  text-transform:uppercase;  }
span.WarningLabel { 
  color:#CC0000; 
  font-weight:bold; 
  text-transform:uppercase;  }
span.CodeChar { 
  font-family:"Courier New"  , Courier, mono; 
  font-weight:bold;  }
span.MessageChar { 
  font-family:"Courier New"  , Courier, mono; 
  font-weight:bold;  }
span.SecondaryLink { 
  text-decoration:none;  }
span.WebPowered { 
  font-size:0.8em; 
  font-style:italic; 
  position:relative; 
  bottom:0.3em;  }
span.Superscript { 
  font-size:0.8em; 
  position:relative; 
  vertical-align:Super;  }
body { 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:9pt; 
  background-color:#ffffff; 
  color:WindowText; 
  margin-left:14px; 
  margin-top:5pt;  }
p { 
  line-height:Normal; 
  margin-left:1pt; 
  margin-top:1pt; 
  margin-bottom:1pt; 
  padding-top:3pt; 
  padding-bottom:3pt; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:9pt; 
  color:WindowText;  }
LI.p { 
      line-height:Normal;  }
p.NormalNoSpace {
  line-height: Normal;
	margin-left: 0px;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-top: 3pt;
	padding-bottom: 3pt;  }
LI.p-NormalNoSpace {
	line-height: Normal;  }
h1 { 
  font-weight:bold; 
  color:#003399; 
  margin-top:2pt; 
  margin-bottom:10pt; 
  margin-left:1pt; 
  font-size:14pt; 
  padding-top:14pt; 
  border-top:1pt solid #000000; 
  font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.h1 { 
  font-weight:bold; 
  color:#003399; 
  font-size:14pt;  }
P.Subhead1 { 
  font-weight:bold; 
  font-style:normal; 
  color:#003399; 
  margin-left:1pt; 
  margin-top:7pt; 
  margin-bottom:1pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  font-size:11pt;  }
LI.P-Subhead1 { 
  font-weight:bold; 
  font-style:normal; 
  color:#003399; 
  font-size:11pt;  }
P.Subhead2 { 
  font-size:10pt; 
  font-weight:bold; 
  font-style:normal; 
  color:#003399; 
  margin-left:1pt; 
  margin-top:4pt; 
  margin-bottom:1pt; 
  padding-top:0pt; 
  padding-bottom:0pt;  }
LI.P-Subhead2 { 
  font-size:10pt; 
  font-weight:bold; 
  font-style:normal; 
  color:#003399;  }
P.RelatedTopics { 
  margin-top:18pt;  }
LI.P-RelatedTopics {  }
P.NormalIndent1 { 
  margin-left:30px;  }
LI.P-NormalIndent1 {  }
p.NormalIndent2 { 
  margin-left:60px;  }
LI.p-NormalIndent2 {  }
p.Note { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  background-color:#ecf2ff;  }
LI.p-Note {  }
p.NoteIndent1 { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  margin-left:30px; 
  background-color:#ecf2ff;  }
LI.p-NoteIndent1 {  }
p.NoteIndent2 { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  margin-left:60px; 
  background-color:#ecf2ff;  }
LI.p-NoteIndent2 {  }
p.Caution { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  background-color:#ecf2ff;  }
LI.p-Caution {  }
p.CautionIndent1 { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  margin-left:30px; 
  background-color:#ecf2ff;  }
LI.p-CautionIndent1 {  }
p.CautionIndent2 { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  margin-left:60px; 
  background-color:#ecf2ff;  }
LI.p-CautionIndent2 {  }
p.Warning { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  background-color:#ffffe1;  }
LI.p-Warning {  }
p.WarningIndent1 { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  margin-left:30px; 
  background-color:#ffffe1;  }
LI.p-WarningIndent1 {  }
p.WarningIndent2 { 
  padding:8px; 
  margin-top:3pt; 
  margin-bottom:3pt; 
  margin-left:60px; 
  background-color:#ffffe1;  }
LI.p-WarningIndent2 {  }
p.Code { 
  font-family:"Courier New"  , Courier, monospace;  }
LI.p-Code { 
  font-family:"Courier New"  , Courier, monospace;  }
P.CodeIndent1 { 
  font-family:"Courier New"  , monospace; 
  margin-left:30px;  }
LI.P-CodeIndent1 { 
  font-family:"Courier New"  , monospace;  }
P.CodeIndent2 { 
  font-family:"Courier New"  , monospace; 
  margin-left:60px;  }
LI.P-CodeIndent2 { 
  font-family:"Courier New"  , monospace;  }
p.Message { 
  font-family:"Courier New"  , Courier, monospace;  }
LI.p-Message { 
  font-family:"Courier New"  , Courier, monospace;  }
P.MessageIndent1 { 
  font-family:"Courier New"  , monospace; 
  margin-left:30px;  }
LI.P-MessageIndent1 { 
  font-family:"Courier New"  , monospace;  }
P.MessageIndent2 { 
  font-family:"Courier New"  , monospace; 
  margin-left:60px;  }
LI.P-MessageIndent2 { 
  font-family:"Courier New"  , monospace;  }
p.ItemName { 
  font-weight:bold; 
  margin-top:7pt; 
  font-size:9pt; 
  margin-left:1pt;  }
LI.p-ItemName { 
  font-weight:bold; 
  font-size:9pt;  }
p.ErrorMessage { 
  margin-top:7pt; 
  font-weight:bold; 
  margin-left:1pt; 
  font-size:9pt;  }
LI.p-ErrorMessage { 
  font-weight:bold; 
  font-size:9pt;  }
p.GlossaryTerm { 
  margin-top:7pt; 
  font-weight:bold; 
  margin-left:1pt; 
  font-size:9pt;  }
LI.p-GlossaryTerm { 
  font-weight:bold; 
  font-size:9pt;  }
p.Report {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 8pt;  }
ol { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  margin-left:-12px; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:9pt;  }
ul { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  margin-left:-12px; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:9pt;  }
OL OL { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  margin-left:-8px;  }
UL UL { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  margin-left:-10px;  }
OL UL { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  margin-left:-10px;  }
UL OL { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:0pt; 
  padding-bottom:0pt; 
  margin-left:-10px;  }
UL P { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:3pt; 
  padding-bottom:3pt;  }
UL LI.P {  }
OL P { 
  margin-top:0pt; 
  margin-bottom:0pt; 
  padding-top:3pt; 
  padding-bottom:3pt;  }
OL LI.P {  }
table { 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:9pt; 
  margin-top:6pt; 
  margin-bottom:6pt; 
  border-color:#DDDDDD;  }
td { 
  text-align:left; 
  vertical-align:top; 
  border-color:#DDDDDD;  }
p.TableHeader { 
  font-weight:bold;  }
LI.p-TableHeader { 
  font-weight:bold;  }
p.TableHeaderWide {
	font-weight: bold;  }
DIV.droptext { 
  border-style:solid; 
  border-width:1px; 
  padding-left:10px; 
  padding-right:10px;  }
p.Image {  }
LI.p-Image {  }
hr { 
  margin-top:6pt; 
  margin-bottom:0pt;
  color: #CCCCCC;
}
P.RunningHeader { 
  border-bottom-style:Solid; 
  border-bottom-width:1px; 
  margin-top:1pt; 
  font-size:8pt; 
  margin-bottom:1.5em;  }
LI.P-RunningHeader { 
  font-size:8pt;  }
div#header {  }
body.ItemDescription { 
  background-color:#ffffcc;  }
p.Footer {
  font-size: 7pt;
  line-height: 12pt;
  text-align: center;
  margin-top: 14pt;
  padding-top: 4pt;
  border-top-style: Solid;
  border-top-width: 1px;  }
P.ZCover_Logo {
	x-next-type: p;
	margin-left: 427pt;
	text-align: Left;
	margin-top: 24pt;  }
LI.P-ZCover_Logo {
	text-align: Left;  }
P.ZCover_ProdName {
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-size: 14pt;
	color: #003399;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, sans-serif;
	margin-left: 0pt;
	line-height: Normal;
	margin-top: 28pt;  }
LI.P-ZCover_ProdName {
	font-size: 14pt;
	color: #003399;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, sans-serif;
	line-height: Normal;  }
P.ZCover_Photo {
	margin-left: 0pt;  }
LI.P-ZCover_Photo {  }
P.ZCover_Subhead {
	font-weight: bold;
	font-style: normal;
	color: #003399;
	margin-left: 0px;
	margin-top: 7pt;
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-size: 11pt;
	x-next-type: p;  }
LI.P-ZCover_Subhead {
	font-weight: bold;
	font-style: normal;
	color: #003399;
	font-size: 11pt;  }
P.ZCover_ProdFamily {
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-size: 28pt;
	font-family: Verdana, sans-serif;
	margin-left: 0pt;
	color: #ff6600;
	font-weight: normal;
	font-style: normal;
	line-height: Normal;
	margin-top: 48pt;  }
LI.P-ZCover_ProdFamily {
	font-size: 28pt;
	font-family: Verdana, sans-serif;
	color: #ff6600;
	font-weight: normal;
	font-style: normal;
	line-height: Normal;  }
SPAN.ZCover_ProdFamilyTM {
	vertical-align: Super;
	font-size: 18pt;  }
SPAN.ZCover_ProdNameTM {
	vertical-align: Super;
	font-size: 9pt;  }
P.ZCover_DocInfo {
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-family: Arial, sans-serif;
	color: #003399;
	text-align: Left;
	margin-left: 0pt;
	line-height: Normal;
	margin-top: 72pt;
	font-size: 12pt;  }
LI.P-ZCover_DocInfo {
	font-family: Arial, sans-serif;
	color: #003399;
	text-align: Left;
	line-height: Normal;
	font-size: 12pt;  }
ins {
/*  color: red;*/
  color: #ce084d;
/*  background-color: #f6f4da;*/
/*  text-decoration: none;*/
/*
  border-bottom: solid;
  border-bottom-color: #ce084d;
  border-bottom-width: 1pt;
  padding-bottom: 0.75pt;
*/
}
ins a:link, ins a:visited, ins a:hover {
  border-bottom: solid;
  border-bottom-color: #ce084d;
  border-bottom-width: 1pt;
  padding-bottom: 2pt;  
}
ins a.BSSCPopup:link, ins a.BSSCPopup:visited, ins a.BSSCPopup:hover {
  border-bottom: solid;
  border-bottom-color: #ce084d;
  border-bottom-width: 1pt;
  padding-bottom: 2pt;
}
ins a.dropspot, ins a.dropspot:visited, ins a.dropspot:hover {
  border-bottom: solid;
  border-bottom-color: #ce084d;
  border-bottom-width: 1pt;
  padding-bottom: 2pt;
}
*.Revision {
  border-bottom: solid;
  border-bottom-color: blue;
  border-bottom-width: 1pt;
  padding-bottom: 2pt;
}
P.ZCover_ProdName_QS {
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-size: 14pt;
	color: #003399;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, sans-serif;
	margin-left: 0pt;
	line-height: Normal;
	margin-top: 0pt;
}
LI.P-ZCover_ProdName_QS {
	font-size: 14pt;
	color: #003399;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, sans-serif;
	line-height: Normal;
}
P.ZCover_Subhead_QS {
	font-weight: bold;
	font-style: normal;
	color: #003399;
	margin-left: 0px;
	margin-top: 7pt;
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-size: 11pt;
	x-next-type: p;
}
LI.P-ZCover_Subhead_QS {
	font-weight: bold;
	font-style: normal;
	color: #003399;
	font-size: 11pt;
}
P.ZCover_Normal {
	line-height: Normal;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	margin-left: 0pt;
}
LI.P-ZCover_Normal {
	line-height: Normal;  }
P.ZCover_ProdFamily_QS {
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-size: 28pt;
	font-family: Verdana, sans-serif;
	margin-left: 0pt;
	color: #ff6600;
	font-weight: normal;
	font-style: normal;
	line-height: Normal;
	margin-top: 48pt;
}
LI.P-ZCover_ProdFamily_QS {
	font-size: 28pt;
	font-family: Verdana, sans-serif;
	color: #ff6600;
	font-weight: normal;
	font-style: normal;
	line-height: Normal;
}