<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="McK.EIG.ROI.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <McK.EIG.ROI.Client.Properties.Settings>
            <setting name="McK_EIG_ROI_Client_Web_References_SecurityLogoffWS_SecurityLogoffService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/securitylogoff</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_AuthenticationWS_AuthenticationService"
                serializeAs="String">
                <value>http://127.0.0.1:80/portal/eig/iservices/authenticationService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_OutputServiceWS_OutputService"
                serializeAs="String">
                <value>http://127.0.0.1:8081/output/services/OutputService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ROISupplementalWS_ROISupplementalService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/ROISupplementalService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_BillingAdminWS_BillingAdminService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/BillingAdminService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_BillingCoreWS_BillingCoreService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/BillingCoreService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_SupplementaryService_SupplementaryService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/SupplementaryService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ROISupplementaryWS_SupplementaryService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/SupplementaryService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestorWS_RequestorService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/RequestorService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_InUseWS_InUseService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/roi/services/InUseService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_OutputServiceWS_ROIOutputService"
                serializeAs="String">
                <value>http://emiqc2133.eigqclab.mckesson.com:18080/roi/services/ROIOutputService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_HPFPatientWS_PatientService"
                serializeAs="String">
                <value>http://192.168.6.126:8081/portal/eig/iservices/patient</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_MedicalRecordWS_MedicalRecordService"
                serializeAs="String">
                <value>http://192.168.6.126:8081/portal/eig/iservices/medicalRecord</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_DeficiencyWS_DeficiencyService"
                serializeAs="String">
                <value>http://127.0.0.1:8081/portal/eig/iservices/deficiency</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ConfigurationWS_ConfigurationService"
                serializeAs="String">
                <value>http://eigdev548:5869/portal/eig/iservices/configuration</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_PasswordWS_PasswordService"
                serializeAs="String">
                <value>http://192.168.6.75:8081/portal/eig/iservices/password</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_LogoutWS_LogoutService"
                serializeAs="String">
                <value>http://192.168.6.75:8081/portal/eig/services/logout</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_DocumentWS_DocumentInfoService"
                serializeAs="String">
                <value>http://192.168.6.126:8081/portal/eig/services/document</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_CcdConversionServiceWS_CcdConversionService"
                serializeAs="String">
                <value>https://eigqc365:6060/roi/services/CcdConversionService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_SigninWS_SigninService"
                serializeAs="String">
                <value>http://eigdev662/portal/eig/iservices/signin</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_OverDueInvoiceWS_OverdueInvoiceService"
                serializeAs="String">
                <value>http://eigdev188:8080/roi/services/OverdueInvoiceService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ROIAdminWS_ROIAdminService"
                serializeAs="String">
                <value>http://192.168.6.115:8080/roi/services/ROIAdminService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_BillingWS_BillingService"
                serializeAs="String">
                <value>http://eigdev188:8080/roi/services/BillingService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestWS_RequestService"
                serializeAs="String">
                <value>http://eigdev188:8080/roi/services/RequestService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestCoreWS_RequestCoreService"
                serializeAs="String">
                <value>http://127.0.0.1:18080/roi/services/RequestCoreService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_OverDueInvoiceCoreWS_OverdueInvoiceCoreService"
                serializeAs="String">
                <value>http://eigdev628:8080/roi/services/OverdueInvoiceCoreService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_Web_References_AlertServiceWS_AlertService"
                serializeAs="String">
                <value>http://emidevenv1324:18080/alert/services/AlertService</value>
            </setting>
            <setting name="McK_EIG_ROI_Client_WebReferences_ConfigureDaysWS_CcdConversionService"
                serializeAs="String">
                <value>http://eigdev628:8080/roi/services/CcdConversionService</value>
            </setting>
        </McK.EIG.ROI.Client.Properties.Settings>
    </applicationSettings>
</configuration>