/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Landscape;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-top: 0px;
	margin-bottom: 8px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: double;
	separator-width: 3px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	page-break-inside: avoid;
}


/* Cell Styles: */
 
.TableStyle-Landscape
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 0px;
	margin-bottom: 8px;
	border-spacing: 0px 0px;
}

.TableStyle-Landscape .Column-Column1
{
	
}

.TableStyle-Landscape .Head-Header1
{
	
}

.TableStyle-Landscape .HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Landscape .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
}

.TableStyle-Landscape .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
}

.TableStyle-Landscape .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Landscape .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
}

.TableStyle-Landscape .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Landscape .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Landscape .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Landscape .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Landscape .HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Landscape .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Landscape .FootI-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .FootI-Column1- p
{
	
}

.TableStyle-Landscape .FootE-Column1-
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Landscape .FootE-Column1- p
{
	
}

.TableStyle-Landscape .FootF-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .FootF-Column1- p
{
	
}

.TableStyle-Landscape .FootH-Column1-
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Landscape .FootH-Column1- p
{
	
}

.TableStyle-Landscape .FootD-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .FootD-Column1- p
{
	
}

.TableStyle-Landscape .FootC-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .FootC-Column1- p
{
	
}

.TableStyle-Landscape .FootB-Column1-
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Landscape .FootB-Column1- p
{
	
}

.TableStyle-Landscape .FootA-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .FootA-Column1- p
{
	
}

.TableStyle-Landscape .FootG-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .FootG-Column1- p
{
	
}

.TableStyle-Landscape .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Landscape .BodyI-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyE-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Landscape .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyF-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyH-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Landscape .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyD-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyC-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyB-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Landscape .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyA-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Landscape .BodyG-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Landscape .BodyG-Column1-Body1 p
{
	
}


