/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Lines-2;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-left: 0.54in;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: double;
	separator-width: 3px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	page-break-inside: avoid;
}


/* Cell Styles: */
 
.TableStyle-Lines-2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0.54in;
	margin-top: 0px;
	margin-bottom: 8px;
	border-spacing: 0px 0px;
}

.TableStyle-Lines-2 .Column-Column1
{
	
}

.TableStyle-Lines-2 .Head-Header1
{
	
}

.TableStyle-Lines-2 .HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Lines-2 .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
}

.TableStyle-Lines-2 .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
}

.TableStyle-Lines-2 .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Lines-2 .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
}

.TableStyle-Lines-2 .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Lines-2 .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Lines-2 .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Lines-2 .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Lines-2 .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Lines-2 .FootI-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .FootI-Column1- p
{
	
}

.TableStyle-Lines-2 .FootE-Column1-
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Lines-2 .FootE-Column1- p
{
	
}

.TableStyle-Lines-2 .FootF-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .FootF-Column1- p
{
	
}

.TableStyle-Lines-2 .FootH-Column1-
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Lines-2 .FootH-Column1- p
{
	
}

.TableStyle-Lines-2 .FootD-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .FootD-Column1- p
{
	
}

.TableStyle-Lines-2 .FootC-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .FootC-Column1- p
{
	
}

.TableStyle-Lines-2 .FootB-Column1-
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Lines-2 .FootB-Column1- p
{
	
}

.TableStyle-Lines-2 .FootA-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .FootA-Column1- p
{
	
}

.TableStyle-Lines-2 .FootG-Column1-
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .FootG-Column1- p
{
	
}

.TableStyle-Lines-2 .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Lines-2 .BodyI-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyE-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Lines-2 .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyF-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyH-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Lines-2 .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyD-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyC-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyB-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Lines-2 .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyA-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Lines-2 .BodyG-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Lines-2 .BodyG-Column1-Body1 p
{
	
}


