/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Note;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: separate;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	max-id: 7;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-color: #404040;
	border-bottom-color: #404040;
	border-left-color: #404040;
	border-right-color: #404040;
	cell-padding-left: 50px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 10px;
	background-color: #c7e6f9;
	margin-top: 0px;
	margin-bottom: 0px;
	page-break-inside: avoid;
	border-top-left-radius: 6px;
	overflow: hidden;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-left: 0px;
	margin-right: 0px;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
}


/* Cell Styles: */
 
.TableStyle-Note
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #c7e6f9;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-left-style: solid;
	border-left-color: #404040;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #404040;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #404040;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #404040;
	border-bottom-width: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Note-HeadI--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadI-- p
{
	
}

.TableStyle-Note-HeadE--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadE-- p
{
	
}

.TableStyle-Note-HeadF--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadF-- p
{
	
}

.TableStyle-Note-HeadH--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadH-- p
{
	
}

.TableStyle-Note-HeadD--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadD-- p
{
	
}

.TableStyle-Note-HeadC--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadC-- p
{
	
}

.TableStyle-Note-HeadB--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadB-- p
{
	
}

.TableStyle-Note-HeadA--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadA-- p
{
	
}

.TableStyle-Note-HeadG--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-HeadG-- p
{
	
}

.TableStyle-Note-FootI--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootI-- p
{
	
}

.TableStyle-Note-FootE--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootE-- p
{
	
}

.TableStyle-Note-FootF--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootF-- p
{
	
}

.TableStyle-Note-FootH--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootH-- p
{
	
}

.TableStyle-Note-FootD--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootD-- p
{
	
}

.TableStyle-Note-FootC--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootC-- p
{
	
}

.TableStyle-Note-FootB--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootB-- p
{
	
}

.TableStyle-Note-FootA--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootA-- p
{
	
}

.TableStyle-Note-FootG--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-FootG-- p
{
	
}

.TableStyle-Note-BodyI--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyI-- p
{
	
}

.TableStyle-Note-BodyE--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyE-- p
{
	
}

.TableStyle-Note-BodyF--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyF-- p
{
	
}

.TableStyle-Note-BodyH--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyH-- p
{
	
}

.TableStyle-Note-BodyD--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyD-- p
{
	
}

.TableStyle-Note-BodyC--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyC-- p
{
	
}

.TableStyle-Note-BodyB--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyB-- p
{
	
}

.TableStyle-Note-BodyA--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyA-- p
{
	
}

.TableStyle-Note-BodyG--
{
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.TableStyle-Note-BodyG-- p
{
	
}


