<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="McK.EIG.ROI.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="McK.EIG.ROI.Client.App.Properties.Settings.ConnectionString" connectionString="Dsn=ROIReports" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <appSettings>
    <!--Supported Culture Informations (seperated by comma) -->
    <add key="SupportedCultures" value="en-US,fr-FR"/>
    
    <!-- Resources used in ROI-->
    <add key="roi.messages.resource" value=".Resources.Cultures.roi.messages"/>
    <add key="roi.uitext.resource" value=".Resources.Cultures.roi.uitext"/>
    <add key="roi.tooltip.resource" value=".Resources.Cultures.roi.tooltip"/>
    
    <!--Logging configuration  -->
    <add key="LogConfigFileName" value="McK.EIG.ROI.Client.Log.xml"/>
    
    <!--Alert server configuration  -->
    <!-- <add key="AlertServer"        value="127.0.0.1" />
    <add key="AlertPort"          value="61616" /> -->
    <add key="AlertQueueName" value="queue/eigAlert"/>
    <add key="AlertPhysicalName" value="queue.eigAlert"/>
    
    <!--Exception message configuration  -->
    <add key="ObjectNull" value="ExecutionContext are not initilized."/>
    <add key="Error" value="Error Dialog"/>
    <add key="UIException" value="UI exception"/>
    <add key="SoapExceptionMessge" value="SoapException"/>
    <add key="WebExceptionMessge" value="Connection not established"/>
    <add key="ArgumentNullException" value="Argument {0} is null"/>
    <add key="IndexOutOfRangeException" value="The supplied index is out of range"/>

    <add key="ChunkEnabled" value="false"/>
    <add key="BlockSize" value="10485760"/>
    
    <!--File Transfer Servlet Url -->
    <add key="FileUploadServletUrl" value="/roi/filetransfer/ROIFileUploadServlet"/>
    <add key="AttachmentUploadServletUrl" value="/roi/upload/FileUploadServlet"/>
    <add key="FileDownloadServletUrl" value="/roi/filedownload/BaseFileDownloader"/>
    <add key="ServletTimeout" value="300000"/>
    
    <!-- This key is used in McK.EIG.Common.FileTransfer.dll not in ROI-->
    <add key="CultureResourcePath" value=".CultureResources.CultureResource"/>
    <add key="FileOwnerType" value="LetterTemplate"/>
    
<!--Find Patient search result threshold-->
    <add key="MaximumSearchResult" value="500"/>
    
    <!--Auto Paging-->
    <add key="PageSize" value="50"/>
    <add key="Frequency" value="10"/>
    
    <!-- Reports -->
    <add key="CacheFolder" value="Reports\"/>
    <add key="ReportServletURL" value="/roi/reports"/>
    <add key="ReportDsn" value="ROIReports"/>
    
    <!--In Use - Specify the interval in minutes for expiry period -->
    <add key="IntervalToExpire" value="100"/>
    <add key="AppId" value="roi"/>
    
    <!-- AutoLogoff elapsed time -->
    <add key="ApplicationIdle" value="1800000"/>
    
    <!-- Output Service -->
    <add key="MonitorOutputJobUrl" value="/mpf/#standalone&amp;view=outputmonitor"/>
    
    <!--HPF DataBase server-->
    <!-- <add key="HpfServer" value="127.0.0.1" /> --> <!-- NOT USED -->
    
    <!-- HPF Service call refresh -->
    <add key="HPFRefreshTime" value="900000"/>
    
    <!-- Content service URL -->
    <add key="ContentServiceUrl" value=""/>

    <!-- Context sensitive help-->
    <add key="HelpUrl" value="/ROIClient/Help/WebHelp/help.htm"/>
    <add key="HelpWinDSSUrl" value="/ROIClient/Help/DSS WebHelp/help.htm"/>    
    <!--Indicates the time an XML Web service client waits for a synchronous XML
        Web service request to complete (in milliseconds). The default is 100000 milliseconds.-->
    <add key="TimeOut" value="300000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DocumentCount" value="500"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="b32731d11ce58905" culture="neutral" />
        <bindingRedirect oldVersion="1.2.0.30714" newVersion="1.2.9.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <McK.EIG.ROI.Client.Properties.Settings>
      <setting name="McK_EIG_ROI_Client_Web_References_HPFPatientWS_PatientService" serializeAs="String">
        <value>/portal/eig/iservices/patient</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_MedicalRecordWS_MedicalRecordService" serializeAs="String">
        <value>/portal/eig/iservices/medicalRecord</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_DeficiencyWS_DeficiencyService" serializeAs="String">
        <value>/portal/eig/iservices/deficiency</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_SigninWS_SigninService" serializeAs="String">
        <value>/portal/eig/iservices/signin</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ConfigurationWS_ConfigurationService" serializeAs="String">
        <value>/portal/eig/iservices/configuration</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_PasswordWS_PasswordService" serializeAs="String">
        <value>/portal/eig/iservices/password</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_LogoutWS_LogoutService" serializeAs="String">
        <value>/portal/eig/iservices/logout</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_DocumentWS_DocumentInfoService" serializeAs="String">
        <value>/portal/eig/iservices/document</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_AuthenticationWS_AuthenticationService" serializeAs="String">
        <value>/portal/eig/iservices/authenticationService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_SecurityLogoffWS_SecurityLogoffService" serializeAs="String">
        <value>/roi/services/securitylogoff</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIAdminWS_ROIAdminService" serializeAs="String">
        <value>/roi/services/ROIAdminService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_BillingAdminWS_BillingAdminService" serializeAs="String">
        <value>/roi/services/BillingAdminService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestorWS_RequestorService" serializeAs="String">
        <value>/roi/services/RequestorService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestWS_RequestService" serializeAs="String">
        <value>/roi/services/RequestService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROIRequestCoreWS_RequestCoreService" serializeAs="String">
        <value>/roi/services/RequestCoreService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_BillingWS_BillingService" serializeAs="String">
        <value>/roi/services/BillingService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_BillingCoreWS_BillingCoreService" serializeAs="String">
        <value>/roi/services/BillingCoreService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_InUseWS_InUseService" serializeAs="String">
        <value>/roi/services/InUseService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROISupplementalWS_ROISupplementalService" serializeAs="String">
        <value>/roi/services/ROISupplementalService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_ROISupplementaryWS_SupplementaryService" serializeAs="String">
        <value>/roi/services/SupplementaryService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_CcdConversionServiceWS_CcdConversionService" serializeAs="String">
        <value>/roi/services/CcdConversionService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_OverDueInvoiceWS_OverdueInvoiceService" serializeAs="String">
        <value>/roi/services/OverdueInvoiceService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_OverDueInvoiceCoreWS_OverdueInvoiceCoreService" serializeAs="String">
        <value>/roi/services/OverdueInvoiceCoreService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_OutputServiceWS_ROIOutputService" serializeAs="String">
        <value>/roi/services/ROIOutputService</value>
      </setting>
       <setting name="McK_EIG_ROI_Client_WebReferences_ConfigureDaysWS_ConfigureDaysService" serializeAs="String">
        <value>/roi/services/ConfigureDaysService</value>
      </setting>
      <setting name="McK_EIG_ROI_Client_Web_References_AlertServiceWS_AlertService" serializeAs="String">
        <value>/alert/services/AlertService</value>
      </setting>
      
    </McK.EIG.ROI.Client.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
