/*<meta sourceDocument="C:\StarTeamWorkingFolders\eig\Documentation Team\Product Documentation - In Progress\HPF-Based\16.2\MPF\MPF_ICU_Users_Guide.docx" />*/

p
{
	font-family: Helvetica;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: Helvetica;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: Helvetica;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: Helvetica;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: Helvetica;
	vertical-align: top;
}

p.Header
{
	margin-left: 0pt;
	font-style: italic;
	font-size: 8pt;
	border-top-style: none;
	border-top-width: 0pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	font-family: Helvetica;
}

p.Footer
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	margin-left: 0pt;
	font-family: Helvetica;
	font-style: italic;
	font-size: 8pt;
}

p.LLabel
{
	page-break-after: avoid;
	margin-left: 0pt;
	font-weight: bold;
	margin-top: 17pt;
	margin-bottom: 0pt;
	mc-heading-level: 5;
	font-family: Helvetica;
	font-size: 11pt;
}

p.BTBlockText
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: Helvetica;
	font-size: 11pt;
}

p.BTIBlockTextIndent
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	margin-left: 18pt;
	font-family: Helvetica;
}

p.TOCCChapterTitle
{
	page-break-before: always;
	margin-bottom: 46pt;
	margin-left: 0pt;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20pt;
}

p.TOC1
{
	margin-top: 13pt;
	margin-left: 0pt;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 11pt;
}

p.TOC2
{
	font-family: Helvetica;
	font-size: 11pt;
}

p.TOC3
{
	margin-left: 18pt;
	font-family: Helvetica;
	font-size: 11pt;
}

h1.Heading1
{
	page-break-before: always;
	margin-bottom: 46pt;
	margin-left: 0pt;
	mc-heading-level: 1;
	font-weight: bold;
	font-size: 20pt;
	font-family: Helvetica;
}

h2.Heading2
{
	page-break-after: avoid;
	margin-top: 27pt;
	margin-bottom: 18pt;
	margin-left: 0pt;
	mc-heading-level: 2;
	font-weight: bold;
	font-size: 16pt;
	font-family: Helvetica;
}

li.NoteHgBrdr
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	font-family: Helvetica;
}

img.img_1
{
	visibility: visible;
}

p.p_1
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 1pt;
	font-family: Georgia;
	color: #365F91;
	font-size: 14pt;
}

p.p_2
{
	font-family: Georgia;
	color: #234A84;
	font-size: 28pt;
}

p.p_3
{
	margin-right: 22pt;
}

span.span_1
{
	font-family: Georgia;
	color: #004A84;
	font-size: 14pt;
}

p.p_4
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 37pt;
}

p.p_5
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 1pt;
	font-family: Georgia;
	color: #004A84;
	font-size: 14pt;
}

p.LLabel_1
{
	page-break-after: avoid;
	margin-left: 0pt;
	font-weight: bold;
	margin-bottom: 0pt;
	mc-heading-level: 5;
	font-family: Helvetica;
	font-size: 11pt;
	margin-top: 7pt;
}

span.span_2
{
	font-size: 9pt;
}

p.BTBlockText_1
{
	font-family: Helvetica;
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
}

span.span_3
{
	color: #000000;
	font-size: 9pt;
}

p.BTBlockText_2
{
	font-family: Helvetica;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-size: 9pt;
}

span.span_4
{
	font-family: Arial;
	font-size: 9pt;
}

p.BTIBlockTextIndent_1
{
	font-size: 11pt;
	font-family: Helvetica;
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 0pt;
}

span.span_5
{
	margin-right: 0pt;
}

span.span_6
{
	font-family: Symbol;
}

span.span_7
{
	font-style: italic;
}

ol.ol_1
{
	margin-left: 54pt;
}

div.div_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-left: 0pt;
}

sup.sup_1
{
	font-size: 9pt;
}

sup.sup_2
{
	font-size: 9pt;
	font-family: Symbol;
}

p.THTableHeaderText
{
	font-size: 11pt;
	page-break-after: avoid;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: Helvetica;
	font-weight: bold;
}

p.TTTableText
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

td.td_1
{
	border-bottom-style: double;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_2
{
	border-bottom-style: double;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

p.TTTableText_1
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
	text-align: center;
}

td.td_3
{
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_4
{
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_5
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_6
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

span.span_8
{
	font-family: Arial;
}

table.table_1
{
	margin-left: 5pt;
	border-collapse: collapse;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

span.span_9
{
	font-weight: bold;
}

li.BT1BulletText1
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
}

p.MT3MapTitle3
{
	page-break-after: avoid;
	margin-left: 0pt;
	font-weight: bold;
	margin-top: 21pt;
	margin-bottom: 14pt;
	mc-heading-level: 4;
	font-family: Helvetica;
	font-size: 12pt;
}

li.BT1BulletText1_1
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
	list-style-type: disc;
}

ul.ul_1
{
	list-style-type: disc;
	margin-left: 18pt;
}

p.PCOPictureOversize
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	margin-left: 0pt;
	font-family: Helvetica;
}

p.PCPicture
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: Helvetica;
	font-size: 11pt;
}

p.CPCaption
{
	margin-bottom: 11pt;
	font-family: Helvetica;
	font-style: italic;
	font-size: 9pt;
}

p.PCOPictureOversize_1
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	margin-left: 0pt;
	font-family: Helvetica;
	text-align: right;
}

p.ListParagraph
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 11pt;
}

p.PCIPictureIndent
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	margin-left: 18pt;
	font-family: Helvetica;
}

li.ListParagraph
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 11pt;
}

span.span_10
{
	color: #000000;
}

img.img_2
{
	border-bottom-style: dashed;
	border-bottom-width: 1pt;
}

li.ListParagraph_1
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 11pt;
	list-style-type: disc;
}

img.img_3
{
	border-top-style: dashed;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
}

img.img_4
{
	border-top-style: dashed;
	border-top-width: 1pt;
	border-bottom-style: dashed;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: dashed;
	border-right-width: 1pt;
}

p.MT2MapTitle2
{
	page-break-after: avoid;
	margin-left: 0pt;
	font-weight: bold;
	margin-top: 24pt;
	margin-bottom: 16pt;
	mc-heading-level: 3;
	font-family: Helvetica;
	font-size: 14pt;
}

img.img_5
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: dashed;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
}

p.TBTableBullet
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
}

li.TBTableBullet
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
}

p.PC-PictureChar
{
	font-size: 11pt;
}

p.BTBlockText_3
{
	font-family: Helvetica;
	font-size: 11pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

td.td_7
{
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

td.td_8
{
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 13pt;
}

img.img_6
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
}

table.table_2
{
	margin-left: 0pt;
	border-collapse: collapse;
}

td.td_9
{
	border-top-style: none;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

td.td_10
{
	border-top-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

ol.ol_2
{
	margin-left: 49pt;
}

p.BTBlockText_1_1
{
	font-family: Helvetica;
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

div.div_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

li.CautionHgBrdr
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-left: 0pt;
	font-family: Helvetica;
}

img.img_7
{
	border-top-style: dashed;
	border-top-width: 1pt;
	border-bottom-style: dashed;
	border-bottom-width: 1pt;
	border-left-style: dashed;
	border-left-width: 1pt;
	border-right-style: dashed;
	border-right-width: 1pt;
}

span.span_11
{
	font-family: Arial;
	font-size: 11pt;
}

p.p_6
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

li.li_1
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

ul.ul_3
{
	list-style-type: disc;
	margin-left: 36pt;
}

ol.ol_3
{
	margin-left: 18pt;
}

p.MT1MapTitle1
{
	page-break-after: avoid;
	margin-top: 27pt;
	margin-bottom: 18pt;
	margin-left: 0pt;
	mc-heading-level: 2;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16pt;
}

span.span_12
{
	font-family: Arial;
	font-style: italic;
	font-size: 11pt;
}

span.span_13
{
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
}

span.span_14
{
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
}

p.p_7
{
	page-break-after: avoid;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
}

p.p_8
{
	margin-top: 4pt;
	margin-bottom: 4pt;
}

p.p_9
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Arial;
	font-size: 11pt;
}

ul.ul_4
{
	list-style-type: disc;
	margin-left: 31pt;
}

p.p_10
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: Arial;
	font-size: 11pt;
}

td.td_11
{
	border-top-style: double;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

p.p_11
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
}

td.td_12
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_13
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: dashed;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_14
{
	border-top-style: dashed;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

p.p_12
{
	margin-bottom: 11pt;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
}

li.li_2
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	margin-left: 0pt;
}

ol.ol_4
{
	list-style-type: decimal;
	margin-left: 72pt;
}

p.p_13
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: 'Times New Roman';
	font-size: 11pt;
}

li.S1Step1
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	font-family: Helvetica;
}

span.span_15
{
	font-family: 'Times New Roman';
}

li.S1Step1_1
{
	font-size: 11pt;
	font-family: Helvetica;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

ol.ol_5
{
	list-style-type: decimal;
	margin-left: 18pt;
}

p.p_14
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	margin-left: 18pt;
}

span.span_16
{
	font-family: Arial;
	font-style: italic;
	font-size: 9pt;
}

p.p_15
{
	margin-bottom: 11pt;
	margin-left: 18pt;
}

li.NoteHgBrdr_1
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	font-family: Helvetica;
	margin-left: 72pt;
}

div.div_3
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-left: 18pt;
}

p.p_16
{
	page-break-after: avoid;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 0pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 14pt;
}

p.p_17
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	margin-left: 18pt;
	font-family: 'Times New Roman';
	font-size: 11pt;
}

p.ListParagraph_1
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 11pt;
	margin-left: 18pt;
}

li.DT1DashText1
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
}

span.span_17
{
	font-family: Arial;
	font-weight: bold;
}

ul.ul_5
{
	list-style-type: square;
	margin-left: 36pt;
}

table.table_3
{
	margin-left: 23pt;
	border-collapse: collapse;
}

span.span_18
{
	font-family: 'Times New Roman';
	font-size: 11pt;
}

span.span_19
{
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 11pt;
}

p.ListParagraph_2
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	margin-left: 18pt;
	font-size: 9pt;
}

p.p_18
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 18pt;
	font-family: Arial;
	font-size: 9pt;
}

td.td_15
{
	border-top-style: double;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

p.ListParagraph_3
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

li.BT2BulletText2
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
}

li.TipHgBrdr
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	font-family: Helvetica;
}

span.span_20
{
	font-weight: bold;
	font-style: italic;
}

p.PCIPictureIndent_1
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	font-family: Helvetica;
	margin-left: 36pt;
}

p.CPCaption_1
{
	margin-bottom: 11pt;
	font-family: Helvetica;
	font-style: italic;
	font-size: 9pt;
	margin-left: 36pt;
}

li.NoteHgBrdr_2
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	font-family: Helvetica;
	margin-left: 90pt;
}

div.div_4
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-left: 36pt;
}

li.BT1BulletText1_2
{
	font-size: 11pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Helvetica;
	page-break-after: avoid;
}

p.PCPicture_1
{
	page-break-after: avoid;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: Helvetica;
	font-size: 11pt;
	text-align: center;
}

p.CPOCaptionOversize
{
	margin-bottom: 11pt;
	font-style: italic;
	font-size: 9pt;
	margin-left: 0pt;
	font-family: Helvetica;
}

p.S1Step1
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	font-family: Helvetica;
}

p.IndexHeading
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	text-align: center;
	font-family: Calibri;
	font-weight: bold;
	font-size: 13pt;
}

p.Index1
{
	margin-left: 0pt;
	font-family: Calibri;
	font-size: 9pt;
}

p.BTIBlockTextIndent_2
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-size: 11pt;
	margin-left: 18pt;
	font-family: Helvetica;
	font-weight: bold;
}

p.MT2MapTitle2_1
{
	page-break-after: avoid;
	margin-left: 0pt;
	font-weight: bold;
	mc-heading-level: 3;
	font-family: Helvetica;
	font-size: 14pt;
	margin-top: 18pt;
	margin-bottom: 12pt;
}

p.Header_1
{
	font-style: italic;
	font-size: 8pt;
	border-top-style: none;
	border-top-width: 0pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	font-family: Helvetica;
	margin-left: -72pt;
}

div.div_5
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	margin-left: -72pt;
}

