<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="log_initializer" class="com.mckesson.eig.utility.log.log4j.Log4JInitializer">
		<property name="byXml" value="com/mckesson/eig/workflow/logging.xml" />
	</bean>


<!--
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<description>Provides access to a datasource registered with
			JNDI.</description>
		<property name="jndiName" value="java:/QspDS" />
	</bean>
 -->
	<bean id="hibernateSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:com/mckesson/eig/workflow/hibernate.xml" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- tx:method name="get*" read-only="true" /-->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.mckesson.eig.workflow.processinstance.service.ProcessInstanceServiceImpl.* (..))"
			advice-ref="txAdvice" />
	</aop:config>


	<!-- Configurations for webservice security -->
	<bean id="authenticator.appID"
		class="com.mckesson.eig.wsfw.security.service.test.MockAuthenticator" />

	<bean id="authorizer.appID"
		class="com.mckesson.eig.wsfw.security.service.test.MockAuthorizer" />

	<bean id="PasswordEncryptionStrategy" class="com.mckesson.eig.wsfw.security.encryption.AESStrategy">
	</bean>

	<bean
		id="com.mckesson.eig.workflow.processinstance.service.ProcessInstanceServiceImpl"
		class="com.mckesson.eig.workflow.processinstance.service.ProcessInstanceServiceImpl" />

	<bean id="com.mckesson.eig.workflow.process.dao.ProcessDAO" class="com.mckesson.eig.workflow.process.dao.ProcessDAO">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>


	<!--
		Process Instance queue's Jndi configuration: Common for producer and
		consumer
	-->
	<bean id="processInstanceQueue" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="piJndiTemplate" />
		</property>
		<property name="jndiName">
			<value>queue/processInstanceQueue</value>
		</property>
	</bean>

	<!--
		Process Instance activemq connection factory's Jndi configuration
	-->
	<bean id="piConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="piJndiTemplate" />
		</property>
		<property name="jndiName">
			<value>java:activemq/QueueConnectionFactory</value>
		</property>
	</bean>

	<!-- Process Instance queue's Jndi template -->
	<bean id="piJndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">
					org.apache.activemq.jndi.ActiveMQInitialContextFactory
        </prop>
				<prop key="java.naming.provider.url">
					tcp://127.0.0.1:61616
        </prop>
				<prop key="queue.queue/processInstanceQueue">
					queue.processInstanceQueue
        </prop>
			</props>
		</property>
	</bean>


	<!-- Process Instance Producer related configuration -->

	<!-- Producer message poster -->
	<bean id="processInstanceProducer" class="com.mckesson.eig.wsfw.jms.MessagePoster">
		<property name="queue">
			<ref bean="processInstanceQueue" />
		</property>
		<property name="connectionFactory">
			<ref bean="piConnectionFactory" />
		</property>
	</bean>


	<!-- Process Instance Consumer related configuration -->

	<!-- Process Instance Consumer service bean -->
	<bean
		id="com.mckesson.eig.workflow.engine.service.ProcessInstanceJmsConsumer"
		class="com.mckesson.eig.workflow.engine.service.ProcessInstanceJmsConsumer" />

	<!-- Process Instance Consumer listener adapter -->
	<bean id="piQueueListener"
		class="org.springframework.jms.listener.adapter.MessageListenerAdapter">

		<constructor-arg>
			<bean id="piCaller" class="com.mckesson.eig.wsfw.cxf.CXFDirectServiceCaller">
				<constructor-arg value="true" />
			</bean>
		</constructor-arg>
		<property name="defaultListenerMethod" value="callService" />
		<!-- we don't want automatic message context extraction -->
		<property name="messageConverter">
			<null />
		</property>
	</bean>

	<!-- Process Instance Consumer listener -->
	<bean id="piQueueListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="concurrentConsumers" value="1" />
		<property name="connectionFactory" ref="piConnectionFactory" />
		<property name="destination" ref="processInstanceQueue" />
		<property name="messageListener" ref="piQueueListener" />
	</bean>

    <!--  Task Event Notifier Configuration -->
    <bean id="topicConnectionFactory"
        class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate">
            <ref bean="topicJndiTemplate" />
        </property>
        <property name="jndiName">
            <value>java:activemq/TopicConnectionFactory</value>
        </property>
    </bean>

    <bean id="taskNotifierTopic"
        class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate">
            <ref bean="topicJndiTemplate" />
        </property>
        <property name="jndiName">
            <value>topic/taskNotifierTopic</value>
        </property>
    </bean>

    <!-- bean id="topicJndiTemplate"
    	class="org.springframework.jndi.JndiTemplate">
    	<property name="environment">
    		<props>
    			<prop key="java.naming.factory.initial">
    				org.apache.activemq.jndi.ActiveMQInitialContextFactory
    			</prop>
    			<prop key="java.naming.provider.url">
    				tcp://127.0.0.1:61616
    			</prop>
    		</props>
    	</property>
    </bean>-->

    <bean id="topicJndiTemplate" class="org.springframework.jndi.JndiTemplate">
      <property name="environment">
        <props>
           <prop key="java.naming.factory.initial">
                org.apache.activemq.jndi.ActiveMQInitialContextFactory
           </prop>
           <prop key="java.naming.provider.url">tcp://127.0.0.1:61616</prop>
        </props>
      </property>
    </bean>
  
    <bean id="com.mckesson.eig.wsfw.jms.MessagePoster"
        class="com.mckesson.eig.wsfw.jms.MessagePoster">
        <property name="topic">
            <ref bean="taskNotifierTopic" />
        </property>
        <property name="connectionFactory">
            <ref bean="topicConnectionFactory" />
        </property>
    </bean>
</beans>
